.btn {
  font-weight: bold;
  padding: 18px 35px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;

  &--theme--red {
    background: $red;
    color: #fff;
    &:hover {
      color: #666;
      background: #111;
    }
  }
}