.section {
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 300px;

    &--font-color--white {
        color: #fff;

        .section__title {
            color: inherit;
        }
    }
}
.section__title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 60px;
    text-transform: uppercase;
}
