.btn {
  display: inline-block;
  font-weight: bold;
  padding: rem(24px) rem(41px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  border: none;


  &--theme--red {
    background: $red;
    color: #fff;


    &:hover {
      background: #CA1B36;
    }
  }
  
  &--theme--transparent {
    background: transparent;
    color: #fff;

    &:hover {
      background: $red;
      color: #fff;
    }
  }
}