.color-menu-section {
  position: relative;
  color: #fff;
  background: black;
}
.color-menu-section__title {
  color: #fff;
  text-align: start;
  padding: 80px;
  margin-bottom: 460px;
}
.color-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}
.color-menu__item {
  display: flex;

  &--grey {
    background: #999;
  }

  &--black {
    background: #151515;
  }

  &--red {
    background: $red;
  }
}
.color-menu__link {
  width: 100px;

}
.color-menu__title {
  position: absolute;
  writing-mode: vertical-lr;
  text-decoration: none;
  font-size: 36px;
  bottom: 5%;
  margin-left: 20px;
  transform: rotate(180deg);
}
.color-menu__close {
  margin-left: 93%;
  position: relative;
}
.color-menu__content {
  background: rgba(47, 50, 52, 0.9);
  width: 0px;
  position: relative;
  overflow: hidden;
  transition: width .7s;
}
.color-menu__container {
  padding: 40px 17px 45px 26px;
}