.header {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @include tablets {
    justify-content: space-between;
  }
}
.phone-number.header__phone-number {
  @include tablets {
    display: none;
  }
}