.socials {
    display: flex;
    align-items: flex-end;
    margin-right: 74px;

    @include phones {
        margin-right: 0;
    }
}
.socials__item {
    display: flex;
    padding: 0 5px;
}
.socials__icon {
    width: 30px;
    height: 30px;
}