.socials {
    display: flex;
    align-items: flex-end;
    margin-right: 74px;
}
.socials__item {
    display: flex;
    padding: 0 5px;
}
.socials__link {
    width: 30px;
    height: 30px;
}
.socials__item--icon--vk .socials__link {
    background: url(../../img/vk.svg);
}
.socials__item--icon--fb .socials__link {
    background: url(../../img/fb.svg);
}
.socials__item--icon--in .socials__link {
    background: url(../../img/in.svg);
}
.socials__item--icon--tg .socials__link {
    background: url(../../img/tg.svg);
}